<%- include('head.ejs') %>

    <body>
        <a href="javascript:history.back()" class="btn "><i class="material-icons">arrow_back</i></a>
        <div class="container text-center pt-3 pb-3 ">
            <div class="row">
                <div class="col">
                    <div class="row" id="signuprow">
                        <div class="col">
                            <a class="navbar-brand" href="/dashboard"> <img
                                    src="https://cdn-icons-png.flaticon.com/512/49/49383.png?w=1060&t=st=1682021589~exp=1682022189~hmac=4abd03bbae7b61aee8ba9117baf8972b23c167976c6df1268131a5d0d98e9a00"
                                    width="50" height="50" class="img-fluid"></a>

                                    <h1>Already logged in</h1>
                                    <p>You are already logged in.</p>
                                    <p><a href="/dashboard">Back to Home</a></p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </body>

    </html>